<div class="nav">
  <img class="logo" src="assets/grapple-tracker-high-resolution-logo-white-transparent.png" alt="logo" routerLink="/home" />
  <div class="links">
    <a routerLink="/trainings/new-training" routerLinkActive="active">Home</a>
    <a routerLink="/trainings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trainings</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
  </div>
</div>
