<div class="card" *ngIf="this.training">
  <div class="card-content">
    <p class="info date">{{ this.training.date | date:'short'}}</p>
    <p class="info duration">{{ this.training.duration }}</p>
    <p class="info numberOfRounds">{{ this.training.numberOfRounds }}</p>
    <p class="info technique">{{ this.training.technique }}</p>
    <p class="info notes">{{ this.training.notes }}</p>
    <div class="actions">
      <button class="info edit" (click)="onEdit()">Edit</button>
      <button class="info delete" (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>
